#commerce-avalara-address-validation-wrapper {
  display: none;
}

.address-validate-btn {
  display: none !important;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.error.inline.message {
  padding-left: 30px;
  display: inline-block;
  background-repeat: no-repeat;
  height: 25px;
  background-color: inherit;
}
